<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>PW Sistemas</h1>
            <form #loginForm="ngForm" role="form">
                <div [hidden]="!error" class="alert alert-danger">
                    Por favor, verifique seus dados e tente novamente
                </div>
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" name="email" [(ngModel)]="email" class="form-control input-underline input-lg" placeholder="E-mail" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password"  class="form-control input-underline input-lg" placeholder="Senha" required>
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" (click)="login()"> Entrar </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Registrar</a>
            </form>
        </div>
    </div>
</div>
